html { font: 16px sans-serif; color: #4f9964; }
label, input { font-size: 1.5rem; }

div.row { font-size: 1.8rem; color: #2b542c; }
.row > div:nth-child(1) { background-color: #ffefef; }
.row > div:nth-child(2) { background-color: #eeeeee; }